<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cjq.tool.qqtoolbox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@null">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.TestGeneralRecyclerViewActivity">
        </activity>
        <activity android:name=".activity.TestRecyclerViewBaseAdapterActivity">
        </activity>
        <activity android:name=".activity.PrintLifecycleActivity">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/SettingsActivityTheme">
        </activity>
        <activity android:name=".activity.UsbDebugActivity">
        </activity>
        <activity android:name=".activity.UdpDebugActivity">
        </activity>
        <activity android:name=".activity.BleDebugActivity">
        </activity>
        <activity
            android:name=".activity.SettingsActivity2"
            android:label="@string/title_activity_settings2">
        </activity>
        <activity android:name=".activity.ScrollViewInsideViewPagerActivity">
        </activity>
        <activity android:name=".activity.TestSimpleCursorLoaderActivity">
        </activity>
        <activity android:name=".activity.TestRecyclerViewCursorLoaderActivity">
        </activity>
    </application>

</manifest>